<h1>Tennis game</h1>
<table border="1">
    <tr>
        <th>Players</th>
        <th>Win/Lose</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>Player 1</td>
        <td><input type="button" id="player1" value="Win"/></td>
        <td id="score1">0</td>
    </tr>
    <tr>
        <td>Player 2</td>
        <td><input type="button" id="player2" value="Win"/></td>
        <td id="score2">0</td>
    </tr>
</table>
<h4 id="winnerSection" style="display:none;">
    <span>The winner of the game is :</span>
    <span id="winner"></span>
</h4>